{% extends 'base.html' %}
{% load static wagtailimages_tags wagtailcore_tags wagtailmetadata_tags %}

{% block meta_tag %}
  {% meta_tags %}
{% endblock %}

{% block extra_css %}

<link href="https://cdn.jsdelivr.net/npm/nanogallery2@3/dist/css/nanogallery2.min.css" rel="stylesheet" type="text/css">

{% endblock extra_css %}

{% block content %}

{% include 'generic/includes/banner.html' %}
<!-- Start Blog Area -->
<section class="htc__project__details__page ptb--50 bg__white">
    <div class="container">

        <div id="nanogallery"></div>

        <div class="single__project__details" style="width: 100%; margin:4rem 0;">
            <h2>PROJECT DESCRIPTION</h2>
            <p>{{ page.description|richtext }}</p>
        </div>
    </div>
</section>
<!-- End Blog Area -->

<!-- Portfolio Start -->
<div class="portfolio">
    <div class="container">
        <div class="section-header text-center">
            {% comment %} <p>{{ page.title }}</p> {% endcomment %}
            <h3>OTHER PROJECTS</h3>
        </div>
        <div class="row portfolio-container">
            {% for project in related %}
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item first wow fadeInUp" data-wow-delay="0.1s">
                <div class="portfolio-warp">
                    <div class="portfolio-img">
                        {% for block in project.images|slice:":1" %}
                        {% if block.block_type == 'image' %}
                        {% image block.value fill-500x300 format-webp %}
                        {% endif %}
                        {% endfor %}
                        {% comment %} <img src="{% static 'img/portfolio-1.jpg' %}" alt="Image"> {% endcomment %}
                        <div class="portfolio-overlay">
                            <p>{{ project.short_description }}</p>
                        </div>
                    </div>
                    <div class="portfolio-text">
                        <h3>{{ project.title }}</h3>
                        <a class="btn" href="{% pageurl project %}">></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-12 load-more">
                <a class="btn" href="{% pageurl page.get_parent %}">See More</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/nanogallery2@3/dist/jquery.nanogallery2.min.js"></script>
<script>

    document.addEventListener('DOMContentLoaded', function() {
        Demo_Mosaic_1();
    });

    function Demo_Mosaic_1() {

        jQuery("#nanogallery").nanogallery2({
          // CONTENT SOURCE
        items: [
        {% for block in page.images %}
        {% if block.block_type == 'image' %}
        {% image block.value original format-webp as img %}
        { src: '{{ img.url }}', srct: '{{ img.url }}', title: '{{ block.value.title }}' },
        {% endif %}
        {% endfor %}
        ],
          // GALLERY AND THUMBNAIL LAYOUT
          galleryMosaic : [                       // default layout
            { w: 2, h: 2, c: 1, r: 1 },
            { w: 1, h: 1, c: 3, r: 1 },
            { w: 1, h: 1, c: 3, r: 2 },
          ],

          galleryMosaicSM : [                     // layout for SM width
          { w: 2, h: 2, c: 1, r: 1 },
          ],

           galleryMosaicXS : [                     // layout for XS width
            { w: 2, h: 2, c: 1, r: 1 },
          ],
          galleryMaxRows: 1,
          galleryDisplayMode: 'rows',
//          gallerySorting: 'random',
//          thumbnailDisplayOrder: 'random',

          thumbnailHeight: '250', thumbnailWidth: '320',
          thumbnailAlignment: 'scaled',
          thumbnailGutterWidth: 0, thumbnailGutterHeight: 0,
          thumbnailBorderHorizontal: 0, thumbnailBorderVertical: 0,

          thumbnailToolbarImage: null,
          thumbnailToolbarAlbum: null,
          thumbnailLabel: { display: false },

          // DISPLAY ANIMATION
          // for gallery
          galleryDisplayTransitionDuration: 1500,
          // for thumbnails
          thumbnailDisplayTransition: 'imageSlideUp',
          thumbnailDisplayTransitionDuration: 1200,
          thumbnailDisplayTransitionEasing: 'easeInOutQuint',
          thumbnailDisplayInterval: 60,

          // THUMBNAIL HOVER ANIMATION
          thumbnailBuildInit2: 'image_scale_1.15',
          thumbnailHoverEffect2: 'thumbnail_scale_1.00_1.05_300|image_scale_1.15_1.00',
          touchAnimation: true,
          touchAutoOpenDelay: 500,

          // LIGHTBOX
          viewerToolbar: { display: false },
          viewerTools:    {
            topLeft:   'label',
            topRight:  'fullscreenButton, closeButton'
          },

          // GALLERY THEME
          galleryTheme : { 
            thumbnail: { background: '#111' },
          },
					
          // DEEP LINKING
          locationHash: true
        });
      }
</script>
{% endblock extra_js %}