{% load static wagtailcore_tags wagtailuserbar wagtailimages_tags %}
{% load i18n %}
{% load menu_tags %}

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>            
        {% block title %}
        {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
        {% wagtail_site as current_site %}
        {% if current_site and current_site.site_name %}| {{ current_site.site_name }}{% endif %}
        {% endblock %}
    </title>
    {% if page.search_description %}
    <meta name="description" content="{{ page.search_description }}" />
    {% endif %}
    {% block meta_tag %}
    {% endblock %}


    {# Force all links in the live preview panel to be opened in a new tab #}
    {% if request.in_preview_panel %}
    <base target="_blank">
    {% endif %}

    <!-- All css files are included here. -->
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="{% static 'lib/flaticon/font/flaticon.css' %}" rel="stylesheet"> 
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/slick/slick.css' %}" rel="stylesheet">
    <link href="{% static 'lib/slick/slick-theme.css' %}" rel="stylesheet">
    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {# Global stylesheets #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/website.css' %}">

    {% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    {% endblock %}
    
    <!-- Place favicon.ico in the root directory -->
    {% image settings.home.GenericSettings.favicon fill-32x32 as logo %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ logo.url }}">
    <link rel="apple-touch-icon" href="{{ logo.url }}">

    <script type="importmap">
        {
            "imports": {
                "axios": "https://cdn.skypack.dev/axios"
            }
        }
    </script>
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MQTVFYV307"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-MQTVFYV307');
    </script>
    {% block extra_head %}
    {# Override this in templates to add extra tags #}
    {% endblock %}
        
</head>

<body class="{% block body_class %}{% endblock %}">

    {% wagtailuserbar 'bottom-left' %}    
    
    <div class="wrapper">
        {% include "includes/topbar.html" %}
        {% main_menu max_levels=3 template="includes/nav.html" %}
        {% block content %}{% endblock %}
        {% include "includes/footer.html" %}
    </div>
        

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'lib/slick/slick.min.js' %}"></script>



    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
    {# Global javascript #}
    <script type="text/javascript" src="{% static 'js/website.js' %}"></script>
    
    {% block extra_js %}
    {# Override this in templates to add extra javascript #}
    {% endblock %}

</body>



</html>

