{% load static wagtailimages_tags %}

<!-- Team Start -->
<div class="team">
    <div class="container">
        <div class="section-header text-center">
            <p>{{ value.sub_title }}</p>
            <h2>{{ value.title }}</h2>
        </div>
        <div class="row">
            {% for item in value.items %}
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item">
                    <div class="team-img">
                        {% image item.image fill-250x300 %}
                    </div>
                    <div class="team-text">
                        <h2>{{ item.name }}</h2>
                        <p>{{ item.position }}</p>
                    </div>
                    {% if item.socials|length > 0 %}
                    <div class="team-social">
                        {% for social in item.socials %}
                        <a class="social-white" href="{{ social.url}}" target="_blank">{{ social.icon|safe }}<span class="sr-only">{{ social.name }}</a>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Team End -->